.inspect-contacts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow: auto;
    height: 90%;
}

.inspect-contacts-box {
    background-color: #283971; 
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inspect-contacts-box label {
    color: white;
}

.inspect-contacts-row {
    display: flex;
    gap: 20px; 
}

.inspect-contacts-row .inspect-contacts-fields {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.inspect-contacts-fields {
    display: flex;
    flex-direction: column;
    gap: 10px; 

    background-color: #3a52a3;
    padding: 8px;
    border-radius: 8px;
}

/* Updated input style: white underline */
.inspect-contacts-fields input {
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    font-size: 1rem;
    color: white;
    outline: none;
}

/* Optional: focus effect */
.inspect-contacts-fields input:focus {
    border-bottom: 2px solid #ffffff;
}