
.add-artifact-container{
    width: 350px;
    height: 312px;
    border-radius: 12px;
    margin-top: 25px;
    margin-bottom: 80px;
    transform: scale(0.8);
    animation: popIn 1s forwards;
    display: flex;
    flex-direction: column;
}

.add-artifact-img-container{
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0 solid transparent;
    transition: border 3s ease;
    position: relative;
}

.add-artifact-img-container img{
    height: 180px;
    width: 100%;
    object-fit: cover; 
    object-position: center; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.artifact-stat-data{
    background-color: #283971;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.stat-data-row{
    flex: 1;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.stat-data-row:hover{
    background-color: #3a52a3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}