
.modal-body{
    padding: 15px !important;
    min-height: 0;
}

.btn-close {
  filter: invert(1);
}






.artifact-info-container{
    display: flex;
    height: 100%;
}

.artifact-info-left {
    flex: 1.3;

    display: flex;
    flex-direction: column;

    overflow: scroll;

    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.35),
        0 6px 15px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.06);

}

.artifact-info-right{
    flex: 1;
}

.tab-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 999px;

    margin-left: 50px;
    margin-right: 50px;
    
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.15);

    box-shadow:
        inset 0 0 10px rgba(255,255,255,0.05),
        0 4px 20px rgba(0,0,0,0.25);
}

