.nav-container {
    background-color: #283971;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    height: 80px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left img {
    height: 65px; 
}

.search {
    border-radius: 50px;
    width: 70%;
    display: flex; 
}

.search input {
    width: 60%;
    border-radius: 50px 0px 0px 50px;
    border: none;
    padding: 8px 12px;
}

.search input:focus {
    outline: none;
    box-shadow: none;
}

.nav-functions-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.profile img {
    cursor: pointer;
}

.search select{
    width: 40%;
    border-radius: 0px 50px 50px 0px; 
    border: none;
    background-color: white;
    text-align: center;
    border-left: 1px solid gray;

}