
.artifact-info-bottom{
    padding-top: 13px;
    font-size: 21px;
    flex: 1;
}

.artifact-info-first-line{
    
}

.artifact-info-identifier-fields{
    display: flex;
    flex-direction: column;
}