.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    background-color: #3a52a3;

    position: fixed;
    bottom: 0;
    width: 100%;

    background: rgba(40, 57, 113, 0);



}



.pagination-container{
    background-color: #3a52a3;
    padding: 10px;
    border-radius: 100px;
    opacity: 0.3;
}

.pagination-container:hover{
    transition: opacity 0.4s ease;
    opacity: 1;
}