
.primary-view-container{
    height: 58vh;
    display: flex;
    flex-direction: column;
}

.artifact-carousel,
.artifact-carousel .carousel-inner,
.artifact-carousel .carousel-item {
    height: 100%;
}




.pan-image-view{
    animation: zoomOutHold 15s ease-in-out infinite;
    object-fit: cover;
}

@keyframes zoomOutHold {
  0% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);   
  }
  100% {
    transform: scale(1);   
  }
}

