
.primary-view-container{
    height: 55vh;
}

.artifact-carousel,
.artifact-carousel .carousel-inner,
.artifact-carousel .carousel-item {
    height: 100%;
}

.pan-image-view{
    object-position: center top;
    animation: panY 3s ease-in-out infinite alternate;
}

.artifact-carousel {
  border-radius: 8px;
  overflow: hidden;      
}

@keyframes panY {
  0% {
    object-position: center top;
  }
  100% {
    object-position: center bottom;
  }
}