* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh; 
    font-size: 95%;
}

/*
#root{
    zoom: 90%;
}
*/

.main-content{
    height: calc(100vh - (70px * 0.9) - (200px * 0.9));
    display: flex;
    flex-direction: column;
}

.gnome-container{
    height: 100%;
}




.artifacts-grid{
    zoom: 80%; /*zoomed*/
    flex: 1;
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(5,1fr); /*200 for smaller devices*/
    grid-column-gap: 10px;
    justify-content: start; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;

    background-color:#E3EAF0; 
}

@media (min-width: 1300px) {
  .artifacts-grid {
    grid-template-columns: repeat(4,1fr);
  }
}

@media (min-width: 1800px) {
  .artifacts-grid{
    grid-template-columns: repeat(5,1fr);
  }
}


.artifacts-grid::-webkit-scrollbar {
    display: none; 
}




.footer:hover{
    opacity: 0.9;

    

}
