* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh; 
}

.main-content{
    height: calc(100vh - 80px - 200px);
    display: flex;
    flex-direction: column;
}

.gnome-container{
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.move{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    width: 5%;
    transition: background 0.3s ease, opacity 0.3s ease;
}

.move-icon:hover {
  transform: scale(1.2); 
  opacity: 0.5; 
  background-color: rgba(0, 0, 0, 0.1);
}

.artifacts-grid{
    flex: 1;
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(auto-fill,300px);
    grid-column-gap: 80px;
    justify-content: center; 
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 100%;
    padding-bottom: 100px;    
}

.artifacts-grid::-webkit-scrollbar {
    display: none; 
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    background-color: #3a52a3;

    position: fixed;
    bottom: 0;
    width: 100%;

    opacity: 0.3;

    transition: opacity 0.4s ease;

}

.footer:hover{
    opacity: 0.9;

    

}
